// specific
$color-black:            #32383E;
$color-white:            #FFFFFF;
$color-grey:             #35495E;
$color-green:            #3B8070;

// palette
$color-bg-main:          $color-black;
$color-bg-secondary:     $color-white;

$color-font-main:        $color-black;
$color-font-secondary:   $color-white;

$color-cta-main:         $color-green;
$color-cta-secondary:    $color-grey;
