// specific
$color-black:            #32383E;
$color-white:            #FFFFFF;
$color-skyblue:          #61DAFB;

// palette
$color-bg-main:          $color-black;
$color-bg-secondary:     $color-white;

$color-font-main:        $color-black;
$color-font-secondary:   $color-white;

$color-cta-main:         $color-skyblue;
$color-cta-secondary:    $color-black;
